### Java ###
*.class

### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/
mvnw
mvnw.cmd

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr

### VS Code ###
.vscode/

### OS Specific ###
.DS_Store
Thumbs.db

### Optional (if using out/ directory for compiled files) ###
out/